body{
    margin: 0;
}

article::after{
    content:''; display:block; clear:both;
}

article > *:first-child{
    font-size:200px; line-height:140px;
    background-color:gray; color:white;
    margin:0; width:40%;
}

article:nth-child(2n-1) > * :first-child{
    float: right; text-align: right;
    margin: 0 0 0 20px;
}

article:nth-child(2n) > *:first-child{
    float: left; text-align: left;
    margin: 0 20px 0 0;
}

/* 
    2n(=even): 짝수
    2n-1(=odd): 홀수
*/