/* 
    global 에는 공통 요소
        - header
        - footer
        - global 요소
*/
.hammersmith{font-family: 'Hammersmith One', sans-serif;}
.playfair{font-family: 'Playfair Display', serif;}
.roboto{font-family: 'Roboto', sans-serif;}

header{
    /* header가 떠있는 상태이므로 */
    position: absolute;
    left: 0; top: 0;
    width: 100%;
}
.inner{
    max-width: 960px;
    width: 100%;
    /* 최대너비값을 정해놓고 너비를 100%로 하면, 
        최대값까지는 같이 커지고, 작아질경우, 해당 너비를 채울 수 있음 */
    margin: 0 auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

header .inner{
    padding: 15px 10px;
}

header .inner::after{
    content: ''; display: block; clear: both;
}
header h1{
    float: left;
}
header h1 a{
    display: block;
}
header h1 a img{
    display: block;
}
header nav{
    float: right;
}
header nav ul::after{
    content: ''; display: block; clear: both;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 0 10px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 50px;
    /* 중앙을 맞추려면 라인하이트를 가장 높은 높이로 맞춰주면 같은 라인에 서게됨. */
    display: block;
    /* padding 값까지 클릭이 되게 하기 위해서 인라인요소를 블록으로 바꿔줘야함
        글자는 기본적으로 인라인 요소여서 높이를 가질 수 없지만, 블록요소로 바꾸면 높이와 너비를 가질 수 있음 */
}

header nav ul li.on a{
    color:#00e0d0
}