/* 
    global 에는 공통 요소
        - header
        - footer
        - global 요소
*/
.hammer{font-family: 'Hammersmith One', sans-serif;}
.playFair{font-family: 'Playfair Display', serif;}
.roboto,
footer{
    font-family: 'Roboto', sans-serif;
}
header{
    /* header가 떠있는 상태이므로 */
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    z-index: 10;
    /* 아래 position으로 인해, 헤더가 가려지므로
        z축으로 떠오르게 해야 보임    
    */
}
.inner{
    max-width: 960px;
    width: 100%;
    /* 최대너비값을 정해놓고 너비를 100%로 하면, 
        최대값까지는 같이 커지고, 작아질경우, 해당 너비를 채울 수 있음 */
    margin: 0 auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

header .inner{
    padding: 15px 10px;
}

header .inner:after,
footer .footer_top:after,
footer .footer_top .right_area form:after,
footer .footer_bottom:after,
footer .footer_bottom ul:after{
    content:''; display:block; clear:both;
}
@media screen and (max-width:1023px){
    header h1{
        float: left;
    }
    header h1 a{
        display: block;
    }
    header h1 a img{
        display: block;
    }
    header nav{
        float: right;
    }
    header nav ul::after{
        content: ''; display: block; clear: both;
    }
    header nav ul li{
        float: left;
    }
    header nav ul li a{
        padding: 0 10px;
        font-weight: 900; font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        line-height: 50px;
        /* 중앙을 맞추려면 라인하이트를 가장 높은 높이로 맞춰주면 같은 라인에 서게됨. */
        display: block;
        /* padding 값까지 클릭이 되게 하기 위해서 인라인요소를 블록으로 바꿔줘야함
            글자는 기본적으로 인라인 요소여서 높이를 가질 수 없지만, 블록요소로 바꾸면 높이와 너비를 가질 수 있음 */
    }

    header nav ul li.on a{
        color:#00e0d0
    }

    footer{
        padding:70px 0;
        background:url("../images/bg_05.png") no-repeat center/cover;
        color:#ffffff;
    }
    footer .inner{

    }
    footer .footer_top{
        margin-bottom:45px;
    }
    footer .footer_top > div{
        float:left;
        width: 31%;
        box-sizing: border-box;
    }
    footer .footer_top .left_area{
        padding-right:10px;
    }
    footer .footer_top .left_area h2{
        margin-bottom:20px;
    }
    footer .footer_top .left_area h2 a{
        display:block;
    }
    footer .footer_top .left_area h2 a img{
        display:block; max-width:100%;
    }
    footer .footer_top .left_area p{
        font-size:14px; line-height:26px;
        font-weight: 300;
    }
    footer .footer_top h3{
        line-height:50px; font-weight:900;
        margin-bottom:20px;
    }
    footer .footer_top .center_area{
        margin-right:7%;
        padding-left:15px;
    }
    footer .footer_top .center_area p{
        font-size:14px; line-height:26px; font-weight:300;
        margin-bottom:15px;
        background-repeat:no-repeat;
        padding-left:30px;
        /* background-position:left top; */
        background-position:left 3px;
    }
    footer .footer_top .center_area p:first-of-type{
        background-image:url("../images/ico_location.png");
    }
    footer .footer_top .center_area p:last-of-type{
        background-image:url("../images/ico_phone.png");
        
    }
    footer .footer_top .center_area p a{
        color:inherit;
    }
    footer .footer_top .right_area{

    }
    footer .footer_top .right_area form{
        margin-bottom:25px;
    }
    footer .footer_top .right_area form input{
        display:block; float:left;
        box-sizing: border-box; height:45px; color:#fff;
    }
    footer .footer_top .right_area form input[type="email"]{
        width:70%; margin-right:5%;
        background:transparent;
        border:1px solid rgba(255, 255, 255, 1); font-weight:300; 
        padding:0 15px;
    }
    footer .footer_top .right_area form input[type="email"]::placeholder{
        color:rgba(255, 255, 255, 0.75);
    }
    footer .footer_top .right_area form input[type="submit"]{
        width:25%; font-size:0; border:none;
        background:rgba(255, 255, 255, 0.5) url("../images/btn_send.png") no-repeat center;
    }
    footer .footer_top .right_area ul{
        font-size:0;
    }
    footer .footer_top .right_area ul li{
        display:inline-block; width:35px; height:35px;
        border:1px solid #fff;
        border-radius:50%;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    footer .footer_top .right_area ul li:not(:last-child){
        margin-right:8px;
    }
    footer .footer_top .right_area ul li:nth-child(1){background-image:url("../images/sns_fb.png");}
    footer .footer_top .right_area ul li:nth-child(2){background-image:url("../images/sns_twit.png");}
    footer .footer_top .right_area ul li:nth-child(3){background-image:url("../images/sns_drib.png");}
    footer .footer_top .right_area ul li:nth-child(4){background-image:url("../images/sns_insta.png");}
    footer .footer_top .right_area ul li:nth-child(5){background-image:url("../images/sns_google.png");}
    footer .footer_top .right_area ul li:nth-child(6){background-image:url("../images/sns_youtube.png");}
    footer .footer_top .right_area ul li a{
        display:block; height:100%;
    }
    footer .footer_bottom{
        font-size:14px; line-height:26px;
    }
    footer .footer_bottom ul{
        float:left;
    }
    footer .footer_bottom ul li{
        float:left; margin-right:30px;
    }
    footer .footer_bottom ul li a{
        color:inherit; display:block;
    }
    footer .footer_bottom p{
        float:right;
    }
}
@media screen and (min-width:1024px){
    header{
        position:absolute;
        width:100%;
        left:0; top:0;
        z-index:10;
    }
    .inner{
        max-width:960px;
        width:100%;
        margin:0 auto;
        padding:0 10px;
        box-sizing: border-box;
    }
    header .inner{
        padding:15px 10px;
    }
    header .inner:after,
    footer .footer_top:after,
    footer .footer_top .right_area form:after,
    footer .footer_bottom:after,
    footer .footer_bottom ul:after{
        content:''; display:block; clear:both;
    }
    header h1{
        float:left;
    }
    header h1 a{
        display:block;
    }
    header h1 a img{
        display:block;
    }
    header nav{
        float:right;
    }
    header nav ul{

    }
    header nav ul li{
        float:left;
    }
    header nav ul li a{
        padding:0 10px;
        font-weight:900;
        font-family: 'Roboto', sans-serif;
        color:#ffffff;
        line-height:50px;
        display:block;
    }
    header nav ul li.on a{
        color:#00e0d0;
    }

    footer{
        padding:70px 0;
        background:url("../images/bg_05.png") no-repeat center/cover;
        color:#ffffff;
    }
    footer .inner{

    }
    footer .footer_top{
        margin-bottom:45px;
    }
    footer .footer_top > div{
        float:left;
        width: 31%;
        box-sizing: border-box;
    }
    footer .footer_top .left_area{
        padding-right:10px;
    }
    footer .footer_top .left_area h2{
        margin-bottom:20px;
    }
    footer .footer_top .left_area h2 a{
        display:block;
    }
    footer .footer_top .left_area h2 a img{
        display:block; max-width:100%;
    }
    footer .footer_top .left_area p{
        font-size:14px; line-height:26px;
        font-weight: 300;
    }
    footer .footer_top h3{
        line-height:50px; font-weight:900;
        margin-bottom:20px;
    }
    footer .footer_top .center_area{
        margin-right:7%;
        padding-left:15px;
    }
    footer .footer_top .center_area p{
        font-size:14px; line-height:26px; font-weight:300;
        margin-bottom:15px;
        background-repeat:no-repeat;
        padding-left:30px;
        /* background-position:left top; */
        background-position:left 3px;
    }
    footer .footer_top .center_area p:first-of-type{
        background-image:url("../images/ico_location.png");
    }
    footer .footer_top .center_area p:last-of-type{
        background-image:url("../images/ico_phone.png");
        
    }
    footer .footer_top .center_area p a{
        color:inherit;
    }
    footer .footer_top .right_area{

    }
    footer .footer_top .right_area form{
        margin-bottom:25px;
    }
    footer .footer_top .right_area form input{
        display:block; float:left;
        box-sizing: border-box; height:45px; color:#fff;
    }
    footer .footer_top .right_area form input[type="email"]{
        width:70%; margin-right:5%;
        background:transparent;
        border:1px solid rgba(255, 255, 255, 1); font-weight:300; 
        padding:0 15px;
    }
    footer .footer_top .right_area form input[type="email"]::placeholder{
        color:rgba(255, 255, 255, 0.75);
    }
    footer .footer_top .right_area form input[type="submit"]{
        width:25%; font-size:0; border:none;
        background:rgba(255, 255, 255, 0.5) url("../images/btn_send.png") no-repeat center;
    }
    footer .footer_top .right_area ul{
        font-size:0;
    }
    footer .footer_top .right_area ul li{
        display:inline-block; width:35px; height:35px;
        border:1px solid #fff;
        border-radius:50%;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    footer .footer_top .right_area ul li:not(:last-child){
        margin-right:8px;
    }
    footer .footer_top .right_area ul li:nth-child(1){background-image:url("../images/sns_fb.png");}
    footer .footer_top .right_area ul li:nth-child(2){background-image:url("../images/sns_twit.png");}
    footer .footer_top .right_area ul li:nth-child(3){background-image:url("../images/sns_drib.png");}
    footer .footer_top .right_area ul li:nth-child(4){background-image:url("../images/sns_insta.png");}
    footer .footer_top .right_area ul li:nth-child(5){background-image:url("../images/sns_google.png");}
    footer .footer_top .right_area ul li:nth-child(6){background-image:url("../images/sns_youtube.png");}
    footer .footer_top .right_area ul li a{
        display:block; height:100%;
    }
    footer .footer_bottom{
        font-size:14px; line-height:26px;
    }
    footer .footer_bottom ul{
        float:left;
    }
    footer .footer_bottom ul li{
        float:left; margin-right:30px;
    }
    footer .footer_bottom ul li a{
        color:inherit; display:block;
    }
    footer .footer_bottom p{
        float:right;
    }
}
@media screen and (min-width:1024px){
    header{
        position:absolute;
        width:100%;
        left:0; top:0;
        z-index:10;
    }
    .inner{
        max-width:960px;
        width:100%;
        margin:0 auto;
        padding:0 10px;
        box-sizing: border-box;
    }
    header .inner{
        padding:15px 10px;
    }
    header .inner:after,
    footer .footer_top:after,
    footer .footer_top .right_area form:after,
    footer .footer_bottom:after,
    footer .footer_bottom ul:after{
        content:''; display:block; clear:both;
    }
    header h1{
        float:left;
    }
    header h1 a{
        display:block;
    }
    header h1 a img{
        display:block;
    }
    header nav{
        float:right;
    }
    header nav ul{

    }
    header nav ul li{
        float:left;
    }
    header nav ul li a{
        padding:0 10px;
        font-weight:900;
        font-family: 'Roboto', sans-serif;
        color:#ffffff;
        line-height:50px;
        display:block;
    }
    header nav ul li.on a{
        color:#00e0d0;
    }
    footer{
        padding:70px 0;
        background:url("../images/bg_05.png") no-repeat center/cover;
        color:#ffffff;
    }
    footer .inner{

    }
    footer .footer_top{
        margin-bottom:45px;
    }
    footer .footer_top > div{
        float:left;
        width: 31%;
        box-sizing: border-box;
    }
    footer .footer_top .left_area{
        padding-right:10px;
    }
    footer .footer_top .left_area h2{
        margin-bottom:20px;
    }
    footer .footer_top .left_area h2 a{
        display:block;
    }
    footer .footer_top .left_area h2 a img{
        display:block; max-width:100%;
    }
    footer .footer_top .left_area p{
        font-size:14px; line-height:26px;
        font-weight: 300;
    }
    footer .footer_top h3{
        line-height:50px; font-weight:900;
        margin-bottom:20px;
    }
    footer .footer_top .center_area{
        margin-right:7%;
        padding-left:15px;
    }
    footer .footer_top .center_area p{
        font-size:14px; line-height:26px; font-weight:300;
        margin-bottom:15px;
        background-repeat:no-repeat;
        padding-left:30px;
        /* background-position:left top; */
        background-position:left 3px;
    }
    footer .footer_top .center_area p:first-of-type{
        background-image:url("../images/ico_location.png");
    }
    footer .footer_top .center_area p:last-of-type{
        background-image:url("../images/ico_phone.png");
        
    }
    footer .footer_top .center_area p a{
        color:inherit;
    }
    footer .footer_top .right_area{

    }
    footer .footer_top .right_area form{
        margin-bottom:25px;
    }
    footer .footer_top .right_area form input{
        display:block; float:left;
        box-sizing: border-box; height:45px; color:#fff;
    }
    footer .footer_top .right_area form input[type="email"]{
        width:70%; margin-right:5%;
        background:transparent;
        border:1px solid rgba(255, 255, 255, 1); font-weight:300; 
        padding:0 15px;
    }
    footer .footer_top .right_area form input[type="email"]::placeholder{
        color:rgba(255, 255, 255, 0.75);
    }
    footer .footer_top .right_area form input[type="submit"]{
        width:25%; font-size:0; border:none;
        background:rgba(255, 255, 255, 0.5) url("../images/btn_send.png") no-repeat center;
    }
    footer .footer_top .right_area ul{
        font-size:0;
    }
    footer .footer_top .right_area ul li{
        display:inline-block; width:35px; height:35px;
        border:1px solid #fff;
        border-radius:50%;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    footer .footer_top .right_area ul li:not(:last-child){
        margin-right:8px;
    }
    footer .footer_top .right_area ul li:nth-child(1){background-image:url("../images/sns_fb.png");}
    footer .footer_top .right_area ul li:nth-child(2){background-image:url("../images/sns_twit.png");}
    footer .footer_top .right_area ul li:nth-child(3){background-image:url("../images/sns_drib.png");}
    footer .footer_top .right_area ul li:nth-child(4){background-image:url("../images/sns_insta.png");}
    footer .footer_top .right_area ul li:nth-child(5){background-image:url("../images/sns_google.png");}
    footer .footer_top .right_area ul li:nth-child(6){background-image:url("../images/sns_youtube.png");}
    footer .footer_top .right_area ul li a{
        display:block; height:100%;
    }
    footer .footer_bottom{
        font-size:14px; line-height:26px;
    }
    footer .footer_bottom ul{
        float:left;
    }
    footer .footer_bottom ul li{
        float:left; margin-right:30px;
    }
    footer .footer_bottom ul li a{
        color:inherit; display:block;
    }
    footer .footer_bottom p{
        float:right;
    }
}