*{
    margin: 0; padding: 0;
    list-style: none; text-decoration: none;
}

body{
    font-family: "ROBOTO","NanumBarunGothic","serif";
}


header h1{
    width: 88px; height: 137px;
}

header h1 a{

}

header h1 img{

}

header nav{
    border-top: 1px solid #dbb296;
    border-bottom: 1px solid #dbb296;
}

header nav::after{
    content: ''; display: block; clear: both;
}

header nav ul{
    float: left; width: 16.66%;
}


.inner{
    width: 1261px; height: ;
}

.main_sec_01
.main_sec_01 .main_visual
.main_sec_01 .main_visual img
.main_sec_01 ul

.main_sec_02
.main_sec_02 .inner
.main_sec_02 h3
.main_sec_02 .tab_menu
.main_sec_02 .tab_cont