*{
    /* 별모양은 모든 태그를 지칭 */
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    background: url("../images/example.jpg") no-repeat center / cover fixed;
    /* 
        background short hand
        background: image repeat position / size attachment 순으로!
        /(슬래쉬) 뒤의 내용까지 한번에 쓰려면 내용을 채워줘야 함
        short hand 사용시, 기재하지 않은 값은 기본값으로 설정되며,
        short hand 를 뒤에 적으면, 앞에 적은 css 속성들이 모조리 사라짐
    */
    /* background-image: url(../images/example.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* attachment는 이미지의 크기가 웹브라우저와 다를 경우 잘릴 수 있는데
    그러한 잘림을 방지, 온전히 뒷배경을 채울 수 있게끔 함
    백그라운드가 스크롤을 따라 움직일 수 있게!*/
}
div{
    background-color: #fff;
    margin-bottom: 150px;
}
div h2{
    font-size: 38px;
    margin-bottom: 20px;
}