*{
    margin:0; padding:0;
}
.wrap{
    width:960px; margin:0 auto;
}
header{
    background-color:darkgoldenrod;
}
header:after{
    clear:left; display:block; content:'';
}
header h1{
    background-color:red;
    width:15%; line-height:55px;
    color:#fff; text-align:center;
    float:left;
    /* 수평 정렬이 될 대상 */
}
header nav{
    background-color:blue;
    width:85%;
    float:left;
    /* 수평 정렬이 될 대상 */
}
header nav ul{
    text-align:center;
}
header nav ul li{
    display:inline-block;
}
header nav ul li a{
    color:#fff; line-height:55px;
}
/* 
    :after는 수평정렬 대상의 직계 부모에게 부여;
    float는 수평정렬이 될 대상에게 부여;
    section
        - 각각의 article을 수평정렬
    section h2 
        - background-color:#0cf;
    article h3 
        - background-color:#000;
    footer 
        - background-color:blue; */
    
section h2{
    background-color: #0cf;
}

section:after{
    content: ''; display: block; clear: both;
}

section article{
    border: 1px solid black;
    float: left; width: 33.33%;
    /* 
        -3분할 : 33.33%
        -4분할: 25%
        -5분할: 20%
        -6분할: 16.66%
    */
    box-sizing: border-box;
}

section h3{
    background-color: black;
    color: white;
}

section ul li{
    line-height: 30px; font-size: 14px
    list-style: none;
}

footer{
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    line-height: 50px;
    /* 한줄이라서 라인하이트를 쓰지만, 여러줄 일 경우에는 padding 값으로 조절! */
}
