/* 
내가 한거
*{
    margin: 0; padding: 0;
}

ul li{
    border: 1px solid #000; 
    box-sizing: border-box;
    list-style: none;
    float: left; width: 25%;
    
}
ul li::after{
    content: ''; display: block; clear: both;
}
ul li figure dl img {
    width: 100%;
    
}
ul li figure figcaption{
}

ul li figure figcaption dl{
    background-color: yellow;
    text-align: center;
} */

/* 선생님 답안 */
*{
    margin:0; padding:0; list-style: none;
}
ul:after{
    content:''; display:block; clear:both; visibility: hidden;
}
ul li{
    float:left;
    width:16.66%;
    border:2px solid #000;
    box-sizing:border-box;
}
ul li figure{
    font-size:0;
}

ul li img{
    width:100%; 
    /* display:block; */
    /* 
        img 는 inline-block 속성이기 때문에 줄바꿈의 영향을 받는다.
            - ** display:block; **
            - 부모에 font-size:0; 대상에 font-size:원하는 값
    */
}
ul li figcaption{
    background-color:yellow;
    text-align:center;
    font-size:16px;
}