.wrap{
    background-color: gray;
}
.wrap .exam_1 img{
    float: left; 
    margin: 0 30px 30px 0;
}
.wrap .exam_1 p{
    font-size: 19px; line-height: 25px;
    margin: 0; margin-left: 10px;
}

.wrap .exam_2 div{
    width: 100px; height: 100px; background-color: skyblue;
    border: 1px solid #000;
    float: right;
    /* float right 오른쪽부터 쌓인다. */
}

/* 
    float에서는 left, right의 활용도가 99% 이상이다.
    단, right 사용 시 정렬이 우측부터 되기 때문에(순서가 우측부터 1,2,3...)이 되기 때문에
    컨텐츠 배열에 신경써줘야 한다.
    *********(제일중요개념) 부모의 높이 값이 상실되므로 주의*********
*/