body{
    width:200px; margin:200px auto;
}
div{
    width:200px; position:relative;
    animation:rotate3D 10s infinite ease-in-out;
    transform-style:preserve-3d;
    transform:rotateX(30deg);
}
@keyframes rotate3D {
    0%{
        transform:rotate3d(0, 0, 0, 0deg);
    }
    100%{
        transform:rotate3d(1, 1, 1, 360deg);
    }
}
div span{
    position:absolute;
    left:0; top:0;
    width:200px;
    height:100px;
    opacity:0.3;
}
div span:nth-child(1){
    background-color:red;
}
div span:nth-child(2){
    background-color:blue;
    transform: rotateY(-60deg);
    transform-origin: right top;
    /* 돌고 있는 기준점을 말함 */
    width: 100%;
}
div span:nth-child(3){
    background-color:green;
    transform: rotateY(90deg);
    transform-origin: right top;
}