.slideArea{
    height:200px;
    background-color:#000;
}

.product_content{
    background-color:#e4e5e7;
    padding:50px 0;
}
.product_content .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.product_content aside{
    width:23%;
}
.product_content aside nav{
    border-radius:5px; overflow: hidden;
}
.product_content aside nav ul{

}
.product_content aside nav ul > li {

}
.product_content aside nav ul > li label,
.product_content aside nav ul > li a{
    line-height:40px;
    padding:0 20px;
    height:40px;
    box-sizing: border-box;
}
.product_content aside nav ul > li > label,
.product_content aside nav ul > li > a{
    font-size:13px; color:#343e5c;
    font-weight:600;
    display:block;
    position:relative;
    background-color:#fff;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.product_content aside nav ul > li:not(:last-child) > label,
.product_content aside nav ul > li:not(:last-child) > a{
    border-bottom:1px solid #f0f2f7;
}
.product_content aside nav ul > li > a:after{
    content:''; display:block; 
    width:10px; height:6px; background:url("../images/bg_arrow.png") no-repeat center/100% auto;
    transform:rotate(-90deg);
    transition-duration:0.5s;
    /* position:absolute; right:20px; top:50%; transform:translateY(-50%); */
}
.product_content aside nav ul > li > a:hover:after{
    transform:rotate(0);
}
.product_content aside nav ul ol{
    overflow: hidden;
    height:0;
    transition-duration:0.7s;
}
.product_content aside nav ul > li:hover ol{
    height:200px;
}
/* .product_content aside nav ul > li input:checked ~ ol{
    height:200px;
} */
.product_content aside nav ul ol li{

}
.product_content aside nav ul ol li a{
    font-size:11px; background-color:#f0f2f7; color:#a1a7bd;
    display:block;
    border-bottom:1px solid #dfe4ee;
    box-sizing: border-box;
}

.product_content aside nav,
.product_content aside form fieldset:not(:last-child){
    margin-bottom:30px;
}
.product_content aside form fieldset{
    background-color:#fff;
    border-radius:5px; overflow: hidden;
}
.product_content aside form fieldset p{
    color:#343e5c; font-size:11px; padding:0 20px;
    font-weight:600; border-bottom:1px solid #f0f2f7;
    height:40px; line-height:40px;
    display:flex; justify-content: space-between;
}
.product_content aside form fieldset p:not(:first-of-type){
    border-top:1px solid #f0f2f7;
}
.product_content aside form fieldset p a{
    color:#2754eb; 
    text-decoration:underline;
}
.product_content aside form fieldset ul{
    padding:10px 0;
}
.product_content aside form fieldset ul li{

}
.product_content aside form fieldset:last-child ul{
    display:flex; padding:0;
}
.product_content aside form fieldset:last-child ul li{
    width:50%;
}
.product_content aside form fieldset:last-child ul li:first-child{
    border-right:1px solid #f0f2f7;
}
.product_content aside form fieldset:last-child ul li label{
    line-height:50px;
}
.product_content aside form fieldset ul li input{
    display:none;
}
.product_content aside form fieldset ul li input[type="checkbox"] + label{
    background:url("../images/off_check.png") no-repeat 20px center; 
    transition-duration: 0.2s;
}
.product_content aside form fieldset ul li input[type="checkbox"]:checked + label{
    background-image:url("../images/on_check.png");
}
.product_content aside form fieldset ul li input[type="radio"] + label{
    background:url("../images/off_radio.png") no-repeat 20px center;
}
.product_content aside form fieldset ul li input[type="radio"]:checked + label{
    background-image:url("../images/on_radio.png");
}
.product_content aside form fieldset ul li label{
    line-height:36px;
    padding:0 20px 0 50px;
    display:flex;
    justify-content: space-between;
    font-size:13px;
    color:#343e5c; font-weight:500;
    cursor:pointer;
}
.product_content aside form fieldset ul li label span{
    color:#b8bfd3; font-size:11px;
}

.product_content .product_list{
    width:74%;
}
.product_content .product_list ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_content .product_list ul li{
    background-color:#fff;
    width:30%; border-radius:5px; overflow: hidden;
    margin-bottom:5%;
    position:relative;
}
.product_content .product_list ul li.ex{
    width:65%;
}
.product_content .product_list ul li img{
    width:100%;
    display:block;
}
.product_content .product_list ul li figcaption{
    padding:20px 0 35px;
    text-align: center;
}
.product_content .product_list ul li figcaption dl{
    font-weight:600;
}
.product_content .product_list ul li figcaption dl dt{
    color:#1c1e23;
    font-size:16px; line-height:20px;
    margin-bottom:15px;
    padding:0 20px;
}
.product_content .product_list ul li figcaption dl dd:nth-of-type(1){
    color:#b8bfd3;
    font-size:12px;
    margin-bottom:15px;
}
.product_content .product_list ul li figcaption dl dd:nth-of-type(2){
    color:#343e5c;
    font-size:14px;
}
.product_content .product_list ul li.ex{
    
}
.product_content .product_list ul li.ex figcaption{
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.product_content .product_list ul li.ex figcaption dl{
    text-align: left;
}
.product_content .product_list ul li.ex figcaption dl dt{
    padding:0;
}
.product_content .product_list ul li.ex figcaption dl dd:nth-of-type(1){
    margin-bottom:0;
}
.product_content .product_list ul li.ex figcaption dl dd:nth-of-type(2){
    position:absolute;
    top:15px; left:10px;
    background-color:#1c1e23;
    color:#fff; font-size:12px;
    padding:5px 8px; border-radius:3px;
}
.product_content .product_list ul li.ex figcaption span{
    display:flex;
    border:2px solid #f0f2f7;
    border-radius:20px;
}
.product_content .product_list ul li.ex figcaption span a{
    line-height:30px; font-size:11px; color:#3a405b;
    display:block; font-weight:600;
    width:100px;
}
.product_content .product_list ul li.ex figcaption span a:first-child{
    border-right:1px solid #f0f2f7;
}

.product_content .product_list ul li.ex2 figure,
.product_content .product_list ul li.ex2 figure img{
    height:100%;
}
.product_content .product_list ul li.ex2 figcaption{
    position:absolute; top:0; left:0;
    padding:35px 0 0;
}
.product_content .product_list ul li.ex2 figcaption dl dd:nth-of-type(1){
    display:none;
}
.product_content .product_list ul li.ex2 figcaption dl dd:nth-of-type(2){
    color:#1c1e23; opacity:0.5;
}

.product_content .product_pagination{
    width:100%;
    display:flex;
    background-color:#fff;
}
.product_content .product_pagination > a{
    width:100px;
    display: flex; justify-content: center; align-items: center; /* 텍스트를 정 가운데로 */
}
.product_content .product_pagination > a:first-of-type{
    border-right:1px solid #f0f2f7;
    order:1;
}
.product_content .product_pagination > a:last-of-type{
    border-left:1px solid #f0f2f7;
    order:3; 
}
.product_content .product_pagination ol{
    order:2; flex-grow:1;/*flex-item으로서의 성질*/
    display:flex;
    justify-content: center;/*flex-box로서의 성질*/
    padding:20px 0;
}
.product_content .product_pagination ol li{

}
.product_content .product_pagination ol li a{
    width:50px; height:50px; /* 너비높이 지정 */
    display:block; /* 너비높이가 지정될 수 있도록 */
    line-height:50px; text-align: center;/* 글 높이 가운데로, 글 정렬 가운데로 */
    font-size:14px; color:#3a405b; font-weight:600;
    border-radius:50%;
    transition-duration:0.3s;
}
.product_content .product_pagination ol li:hover a{
    color:#b9bed1;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1);
}